/* Main container */
.main-content {
    max-width: 500px;
    margin-left:135px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styling */
.form-edit-user {
    display: flex;
    flex-direction: column;
}

.form-edit-user label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-edit-user input, 
.form-edit-user select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Buttons */
.btn-submit, .btn-cancel {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-cancel {
    background-color: #f44336;
    color: white;
    text-decoration: none;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-cancel:hover {
    background-color: #e53935;
}
